# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/

# Go
*.test
*.out
vendor/
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
*.pem
*.key

# AWS scripts
aws_gpu_node

#k8s