---
apiVersion: v1
kind: Service
metadata:
  name: ares-local-external
  namespace: ares-system
  labels:
    app: ares-local
spec:
  type: LoadBalancer
  ports:
    - port: 9090
      targetPort: 9090
      name: http
      protocol: TCP
  selector:
    app: ares-local